.chat-container {
    flex: 1;
    height: 100vh;
    background-color: #d6ccc2;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.text-box-container {
    width: auto;
    margin-bottom: 30px;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.text-box {
    width: 100%;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 10px 10px 15px;
    background-color: #f5ebe0;
    border-style: none;
    color: #333;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.text-box::placeholder {
    color: #333;
}

.text-box:focus {
    outline: none;
}

.send-button {
    background-color: #333;
    color: #eee;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 50px;
    font-size: 15px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}

.send-button:hover {
    cursor: pointer;
}

.message-username-container {
    margin: 10px 0px 10px 30px;
    height: auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333;
}

.username {
    margin-bottom: 10px;
}

.message-container {
    margin: 0px 0px 10px 30px;
    height: auto;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #333;
}

.welcome-message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 80px;
}

.welcome-message {
    margin: 0px 0px 0px 20px;
    position: absolute;
    bottom: 40px;
}

.chat-box::-webkit-scrollbar {
    width: 12px;
}
  
.chat-box::-webkit-scrollbar-track {
    background: grey;
    border-radius: 20px;
}
  
.chat-box::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid grey;
}

.username {
    font-weight: 600;
}